@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap");

:root {
  --Inter: "Inter", Arial, Helvetica, sans-serif;
  --background-color: #1e2022;
  --hover-color: #32383e;
  --primary-text: #f0f5f9;
  --secondary-text: #c9d6df;
  --accent-color: #52616b;
  --border-color: #202123;
  --border-radius: 0.625rem;
  --red: #e66063;
  --orange: #e69860;
  --blue: #4987ff;
  --grey: #b1b1b1;
  --hr: 1px solid #35353b;
  --secondary-radius: 0.4375rem;
  --fadeIn: fadeIn 1.5s forwards ease-out;
  --ease-in-out: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--background-color);
  font-family: var(--Inter);
  min-height: 100vh;
  transition: opacity 0.4s ease-in-out;
  animation: var(--fadeIn);
}

body.fade-out {
  opacity: 0;
}

body.fade-in {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container.visible {
  display: flex;
  transition: opacity 0.4s ease-in-out;
  animation: var(--fadeIn);
}

.main-container.invisible {
  display: none;
}

.tasks-top {
  margin-top: 100px;
}

.section-title {
  color: var(--primary-text);
  font-size: 2rem;
  font-weight: 500;
}

.task-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.pending-tasks,
.completed-tasks,
.daily-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 125px;
  width: 265px;
  background-color: var(--hover-color);
  border-radius: var(--border-radius);
}

.pending-number,
.completed-number,
.daily-tasks-number {
  color: var(--primary-text);
  font-size: 1.75rem;
  font-weight: 400;
}

.pending-description,
.completed-description,
.daily-tasks-description {
  color: var(--secondary-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.023rem;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  width: 821px;
}

.tasks-container-title {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  width: 800px;
  margin-bottom: 1.5rem;
}

.task-information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 90px;
  gap: 26.35rem;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
  transition: var(--ease-in-out);
}

.task-left-side,
.task-right-side {
  display: flex;
  align-items: center;
}

.complete-task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: none;
  background-color: transparent;
}

.task-check {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.task-check.high-priority {
  stroke: var(--red);
}

.task-check.medium-priority {
  stroke: var(--orange);
}

.task-check.low-priority {
  stroke: var(--blue);
}

.task-check.no-priority {
  stroke: var(--grey);
}

.task-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  width: 200px;
}

.task-title {
  color: var(--primary-text);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5em;
}

.task-description {
  color: var(--secondary-text);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 5px;
}

.date {
  color: #90a9b9;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.023rem;
  width: 120px;
  margin-left: -75px;
  margin-right: 30px;
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-task img,
.delete-task img {
  height: 20px;
  width: 20px;
}

.edit-task,
.delete-task {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-hr {
  width: 51.35rem;
  border: var(--hr);
}

.add-task {
  margin-top: 50px;
}

.add-task-button {
  color: var(--primary-text);
  background-color: var(--primary-black);
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  width: 150px;
  border: none;
  margin-bottom: 3rem;
  border-radius: var(--border-radius);
  outline: 1px solid var(--accent-color);
  cursor: pointer;
  transition: var(--ease-in-out);
}

.add-task-button:hover {
  background-color: var(--hover-color);
}

.tasks-modal,
.edit-task-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal,
.edit-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 515px;
  width: 600px;
  padding: 20px 25px 20px 45px;
  position: fixed;
  top: 17%;
  z-index: 2;
  background-color: var(--hover-color);
  border-radius: var(--border-radius);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.modal-title {
  color: var(--primary-text);
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.modal.visible,
.edit-modal.visible {
  transform: scale(1);
}

.task-title-container,
.task-description-container,
.task-due-date-container,
.task-priority-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 95%;
  margin: 0.75rem 0rem 0.75rem 0rem;
}

.input-title {
  color: var(--primary-text);
  font-size: 1.25rem;
  font-weight: 600;
}

.input-error {
  color: var(--red);
  font-size: 0.7rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.5px;
  position: relative;
  left: 376px;
  opacity: 0;
  transition: var(--ease-in-out);
}

.task-title-input.error {
  border: 2px solid var(--red);
}

.task-title-input,
.edit-task-title-input,
.task-description-input,
.edit-task-description-input,
.task-due-date-input,
.edit-task-due-date-input {
  color: var(--secondary-text);
  background-color: var(--background-color);
  height: 2.5rem;
  width: 60%;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  padding: 0px 15px 0px 15px;
}

.task-title-input:focus,
.edit-task-title-input:focus,
.task-description-input:focus,
.edit-task-description-input:focus,
.task-due-date-input:focus,
.edit-task-due-date-input:focus {
  color: var(--secondary-text);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.task-priority-level {
  color: var(--secondary-text);
  background-color: var(--background-color);
  height: 40px;
  width: 35%;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: var(--secondary-radius);
  cursor: pointer;
}

.create-task,
.edit-task-button {
  background-color: var(--background-color);
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  height: 2.75rem;
  width: 95%;
  margin-top: 3rem;
  border: none;
  border-radius: var(--secondary-radius);
  cursor: pointer;
  transition: var(--ease-in-out);
}

.create-task:hover,
.edit-task-button:hover {
  color: var(--secondary-text);
}

.modal-overlay,
.edit-modal-overlay {
  background: rgba(30, 32, 34, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.modal-overlay.hidden,
.edit-modal-overlay.hidden {
  display: none;
}

.dock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: 190px;
  margin-top: 25rem;
  padding: 15px 30px 15px 30px;
  border-radius: var(--border-radius);
  background-color: #36393c55;
  backdrop-filter: blur(10px);
  position: sticky;
  z-index: 999;
  bottom: 15px;
}

.tooltip-text-1,
.tooltip-text-2,
.tooltip-text-3,
.tooltip-text-4 {
  position: absolute;
  top: -40px;
  z-index: 2;
  color: var(--secondary-text);
  font-size: 14px;
  text-align: center;
  background-color: #36393c55;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  outline: 1px solid rgb(61, 61, 61);
  border-radius: var(--secondary-radius);
  padding: 7px 10px 7px 10px;
}

.tooltip-text-1 {
  left: -2%;
}

.tooltip-text-2 {
  left: 20%;
}

.tooltip-text-3 {
  left: 33%;
}

.tooltip-text-4 {
  left: 55%;
}

.tooltip-text-1,
.tooltip-text-2 {
  width: 70px;
}

.tooltip-text-3,
.tooltip-text-4 {
  width: 105px;
}

#fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.home-button:hover #fade,
.today-button:hover #fade,
.completed-button:hover #fade,
.projects-button:hover #fade {
  opacity: 1;
}

.home-button,
.today-button,
.completed-button,
.projects-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home-button img,
.today-button img,
.completed-button img,
.projects-button img {
  height: 22px;
  width: 22px;
}

/* Completed Section */

.main-container-completed {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container-completed.visible {
  display: flex;
  transition: opacity 0.4s ease-in-out;
  animation: var(--fadeIn);
}

.main-container-completed.invisible {
  display: none;
}

.tasks-top-completed {
  margin-top: 100px;
  width: 821px;
}

.section-title-completed {
  color: var(--primary-text);
  font-size: 2rem;
  font-weight: 500;
}

.task-stats-completed {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.completed-section-tasks-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 125px;
  width: 265px;
  background-color: var(--hover-color);
  border-radius: var(--border-radius);
}

.completed-section-number {
  color: var(--primary-text);
  font-size: 1.75rem;
  font-weight: 400;
}

.completed-section-description {
  color: var(--secondary-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.023rem;
}

.tasks-container-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  width: 821px;
}

.tasks-container-title-completed {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  width: 800px;
  margin-bottom: 1.5rem;
}

.task-information-completed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 90px;
  gap: 26.35rem;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
  transition: var(--ease-in-out);
}

.task-left-side-completed,
.task-right-side-completed {
  display: flex;
  align-items: center;
}

.complete-task-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: none;
  background-color: transparent;
}

.task-check-completed {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.task-content-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  width: 200px;
}

.task-title-completed {
  color: var(--primary-text);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: line-through;
}

.task-description-completed {
  color: var(--secondary-text);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 5px;
  text-decoration: line-through;
}

.date-completed {
  color: #90a9b9;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.023rem;
  width: 120px;
  margin-left: -75px;
  margin-right: 30px;
  text-decoration: line-through;
}

.task-actions-completed {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-task-completed img,
.delete-task-completed img {
  height: 20px;
  width: 20px;
}

.edit-task-completed,
.delete-task-completed {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-hr-completed {
  width: 51.35rem;
  border: var(--hr);
}

.dock-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: 190px;
  margin-top: 25rem;
  padding: 15px 30px 15px 30px;
  border-radius: var(--border-radius);
  background-color: #36393c55;
  backdrop-filter: blur(10px);
  position: sticky;
  z-index: 999;
  bottom: 15px;
}

.tooltip-text-1,
.tooltip-text-2,
.tooltip-text-3,
.tooltip-text-4 {
  position: absolute;
  top: -40px;
  z-index: 2;
  color: var(--secondary-text);
  font-size: 14px;
  text-align: center;
  background-color: #36393c55;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  outline: 1px solid rgb(61, 61, 61);
  border-radius: var(--secondary-radius);
  padding: 7px 10px 7px 10px;
}

.tooltip-text-1 {
  left: -2%;
}

.tooltip-text-2 {
  left: 20%;
}

.tooltip-text-3 {
  left: 33%;
}

.tooltip-text-4 {
  left: 55%;
}

.tooltip-text-1,
.tooltip-text-2 {
  width: 70px;
}

.tooltip-text-3,
.tooltip-text-4 {
  width: 105px;
}

#fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.home-button-completed:hover #fade,
.today-button-completed:hover #fade,
.completed-button-completed:hover #fade,
.projects-button-completed:hover #fade {
  opacity: 1;
}

.home-button-completed,
.today-button-completed,
.completed-button-completed,
.projects-button-completed {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home-button-completed img,
.today-button-completed img,
.completed-button-completed img,
.projects-button-completed img {
  height: 22px;
  width: 22px;
}
